<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
           {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav id="navBar" class="navbar navbar-expand-sm navbar-dark bg-primary mb-2">
            <div class="container">
            <a href="/Social-Educ-Admin/public/posts" class="navbar-brand">Social Educ</a>

            <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                <p>Admin Online</p>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="http://localhost/Address-Book1/public/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/article/new" class="nav-link">...</a>
            </li>
            <li class="nav-item">
                <a href="/article/new" class="nav-link">...</a>
            </li>
            
            </ul>
        </div>
        </nav>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }} 
        {% endblock %}
    </body>
</html>